web/WEB-INF/wsdl/localhost_9091/InduccionWs/QueryFactura.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EjemploWS.InduccionWs.guatx.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://EjemploWS.InduccionWs.guatx.com/" name="QueryFactura">
<types>
<xsd:schema>
<xsd:import namespace="http://EjemploWS.InduccionWs.guatx.com/" schemaLocation="http://localhost:9091/InduccionWs/QueryFactura?xsd=1"/>
</xsd:schema>
</types>
<message name="FILTRAR_LISTA_FACTURA">
<part name="parameters" element="tns:FILTRAR_LISTA_FACTURA"/>
</message>
<message name="FILTRAR_LISTA_FACTURAResponse">
<part name="parameters" element="tns:FILTRAR_LISTA_FACTURAResponse"/>
</message>
<message name="INSERTAR_FACTURA">
<part name="parameters" element="tns:INSERTAR_FACTURA"/>
</message>
<message name="INSERTAR_FACTURAResponse">
<part name="parameters" element="tns:INSERTAR_FACTURAResponse"/>
</message>
<message name="ELIMINAR_FACTURA">
<part name="parameters" element="tns:ELIMINAR_FACTURA"/>
</message>
<message name="ELIMINAR_FACTURAResponse">
<part name="parameters" element="tns:ELIMINAR_FACTURAResponse"/>
</message>
<message name="MODIFICAR_FACTURA">
<part name="parameters" element="tns:MODIFICAR_FACTURA"/>
</message>
<message name="MODIFICAR_FACTURAResponse">
<part name="parameters" element="tns:MODIFICAR_FACTURAResponse"/>
</message>
<message name="BUSCAR_FACTURA">
<part name="parameters" element="tns:BUSCAR_FACTURA"/>
</message>
<message name="BUSCAR_FACTURAResponse">
<part name="parameters" element="tns:BUSCAR_FACTURAResponse"/>
</message>
<message name="LISTAR">
<part name="parameters" element="tns:LISTAR"/>
</message>
<message name="LISTARResponse">
<part name="parameters" element="tns:LISTARResponse"/>
</message>
<message name="getDetalles_factura">
<part name="parameters" element="tns:getDetalles_factura"/>
</message>
<message name="getDetalles_facturaResponse">
<part name="parameters" element="tns:getDetalles_facturaResponse"/>
</message>
<portType name="QueryFactura">
<operation name="FILTRAR_LISTA_FACTURA">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/FILTRAR_LISTA_FACTURARequest" message="tns:FILTRAR_LISTA_FACTURA"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/FILTRAR_LISTA_FACTURAResponse" message="tns:FILTRAR_LISTA_FACTURAResponse"/>
</operation>
<operation name="INSERTAR_FACTURA">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/INSERTAR_FACTURARequest" message="tns:INSERTAR_FACTURA"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/INSERTAR_FACTURAResponse" message="tns:INSERTAR_FACTURAResponse"/>
</operation>
<operation name="ELIMINAR_FACTURA">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/ELIMINAR_FACTURARequest" message="tns:ELIMINAR_FACTURA"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/ELIMINAR_FACTURAResponse" message="tns:ELIMINAR_FACTURAResponse"/>
</operation>
<operation name="MODIFICAR_FACTURA">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/MODIFICAR_FACTURARequest" message="tns:MODIFICAR_FACTURA"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/MODIFICAR_FACTURAResponse" message="tns:MODIFICAR_FACTURAResponse"/>
</operation>
<operation name="BUSCAR_FACTURA">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/BUSCAR_FACTURARequest" message="tns:BUSCAR_FACTURA"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/BUSCAR_FACTURAResponse" message="tns:BUSCAR_FACTURAResponse"/>
</operation>
<operation name="LISTAR">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/LISTARRequest" message="tns:LISTAR"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/LISTARResponse" message="tns:LISTARResponse"/>
</operation>
<operation name="getDetalles_factura">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/getDetalles_facturaRequest" message="tns:getDetalles_factura"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryFactura/getDetalles_facturaResponse" message="tns:getDetalles_facturaResponse"/>
</operation>
</portType>
<binding name="QueryFacturaPortBinding" type="tns:QueryFactura">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="FILTRAR_LISTA_FACTURA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="INSERTAR_FACTURA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ELIMINAR_FACTURA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MODIFICAR_FACTURA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BUSCAR_FACTURA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LISTAR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDetalles_factura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QueryFactura">
<port name="QueryFacturaPort" binding="tns:QueryFacturaPortBinding">
<soap:address location="http://localhost:9091/InduccionWs/QueryFactura"/>
</port>
</service>
</definitions>