src/conf/xml-resources/web-service-references/QueryCliente/wsdl/localhost_9091/InduccionWs/QueryCliente.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EjemploWS.InduccionWs.guatx.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://EjemploWS.InduccionWs.guatx.com/" name="QueryCliente">
<types>
<xsd:schema>
<xsd:import namespace="http://EjemploWS.InduccionWs.guatx.com/" schemaLocation="http://localhost:9091/InduccionWs/QueryCliente?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="MODIFICAR_CLIENTE">
<part name="parameters" element="tns:MODIFICAR_CLIENTE"/>
</message>
<message name="MODIFICAR_CLIENTEResponse">
<part name="parameters" element="tns:MODIFICAR_CLIENTEResponse"/>
</message>
<message name="ELIMINAR_CLIENTE">
<part name="parameters" element="tns:ELIMINAR_CLIENTE"/>
</message>
<message name="ELIMINAR_CLIENTEResponse">
<part name="parameters" element="tns:ELIMINAR_CLIENTEResponse"/>
</message>
<message name="INSERTAR_CLIENTE">
<part name="parameters" element="tns:INSERTAR_CLIENTE"/>
</message>
<message name="INSERTAR_CLIENTEResponse">
<part name="parameters" element="tns:INSERTAR_CLIENTEResponse"/>
</message>
<message name="LISTAR_CLIENTE">
<part name="parameters" element="tns:LISTAR_CLIENTE"/>
</message>
<message name="LISTAR_CLIENTEResponse">
<part name="parameters" element="tns:LISTAR_CLIENTEResponse"/>
</message>
<message name="FILTRAR_LISTA_CLIENTE">
<part name="parameters" element="tns:FILTRAR_LISTA_CLIENTE"/>
</message>
<message name="FILTRAR_LISTA_CLIENTEResponse">
<part name="parameters" element="tns:FILTRAR_LISTA_CLIENTEResponse"/>
</message>
<message name="BUSCAR_CLIENTE">
<part name="parameters" element="tns:BUSCAR_CLIENTE"/>
</message>
<message name="BUSCAR_CLIENTEResponse">
<part name="parameters" element="tns:BUSCAR_CLIENTEResponse"/>
</message>
<portType name="QueryCliente">
<operation name="hello">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/helloRequest" message="tns:hello"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="MODIFICAR_CLIENTE">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/MODIFICAR_CLIENTERequest" message="tns:MODIFICAR_CLIENTE"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/MODIFICAR_CLIENTEResponse" message="tns:MODIFICAR_CLIENTEResponse"/>
</operation>
<operation name="ELIMINAR_CLIENTE">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/ELIMINAR_CLIENTERequest" message="tns:ELIMINAR_CLIENTE"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/ELIMINAR_CLIENTEResponse" message="tns:ELIMINAR_CLIENTEResponse"/>
</operation>
<operation name="INSERTAR_CLIENTE">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/INSERTAR_CLIENTERequest" message="tns:INSERTAR_CLIENTE"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/INSERTAR_CLIENTEResponse" message="tns:INSERTAR_CLIENTEResponse"/>
</operation>
<operation name="LISTAR_CLIENTE">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/LISTAR_CLIENTERequest" message="tns:LISTAR_CLIENTE"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/LISTAR_CLIENTEResponse" message="tns:LISTAR_CLIENTEResponse"/>
</operation>
<operation name="FILTRAR_LISTA_CLIENTE">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/FILTRAR_LISTA_CLIENTERequest" message="tns:FILTRAR_LISTA_CLIENTE"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/FILTRAR_LISTA_CLIENTEResponse" message="tns:FILTRAR_LISTA_CLIENTEResponse"/>
</operation>
<operation name="BUSCAR_CLIENTE">
<input wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/BUSCAR_CLIENTERequest" message="tns:BUSCAR_CLIENTE"/>
<output wsam:Action="http://EjemploWS.InduccionWs.guatx.com/QueryCliente/BUSCAR_CLIENTEResponse" message="tns:BUSCAR_CLIENTEResponse"/>
</operation>
</portType>
<binding name="QueryClientePortBinding" type="tns:QueryCliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MODIFICAR_CLIENTE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ELIMINAR_CLIENTE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="INSERTAR_CLIENTE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LISTAR_CLIENTE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FILTRAR_LISTA_CLIENTE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BUSCAR_CLIENTE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QueryCliente">
<port name="QueryClientePort" binding="tns:QueryClientePortBinding">
<soap:address location="http://localhost:9091/InduccionWs/QueryCliente"/>
</port>
</service>
</definitions>